<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员登录</title>
</head>

<body>
    <form action="adminLogin" method="post" enctype="multipart/form-data">
        <!-- <p>上传excel文件</p><input type="file" value="上传excel文件"> -->
        <p>登录</p>
        <input type="text" name="email" placeholder="邮箱">
        <!-- <input type="text" name="nickname" placeholder="昵称"> -->
        <input type="text" name="password" placeholder="密码">
        <!-- <input type="file" name="avatar" placeholder="上传头像"> -->
        <!-- <input type="text" size="100" name="short_introduce" placeholder="一句话介绍自己"> -->

        <input type="submit" value="确认提交" name="submit">
    </form>
</body>

</html>