<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {volist name="data" id="vo"}
    <table width="99%" border="5" cellspacing="0" cellpadding="0">
        <tr>
            <th>支付时间</th>
            <th>订单号</th>
            <th>商品id</th>
            <th>订单金额</th>
            <th>招商收入</th>
        </tr>
        <tr>
            <td>{$vo.payment_time}</td>
            <td>{$vo.order_number}</td>
            <td>{$vo.goods_id}</td>
            <td>{$vo.order_amount}</td>
            <td>{$vo.leader_income}</td>

        </tr>
    </table>

    {/volist}
    <p>跳转</p>
</body>

</html>